<div class="title-new text-center">
  <h2>Publiez votre annonce</h2>
  <p>Spotit vous permet de gagner de l'argent en louant votre logement</p>
</div>

<div class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6">
        <div class="margin-form">
          <%= simple_form_for @spot do  |f| %>
            <%=f.input :city, placeholder: 'ex: Paris, Lyon, ...', label_html: { class: 'field' } %>
            <%=f.input :style, collection: ["Bobo", "Ancien", "Classique", "Design"],label_html: { class: 'field' } %>
            <%=f.input :area, placeholder: '(in sqm)', label_html: { class: 'field' } %>
            <%=f.input :modular_furniture, as: :boolean %>
            <%=f.input :exceptional_view, as: :boolean %>
            <div class="row title-fieldset">
              <button type="submit" class="btn btn-danger">Continuer</button>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-3">
        <div class="border hidden-sm hidden-xs">
          <h1 class="text-center">helloss</h1>
        </div>
      </div>
    </div>
  </div>
</div>










































<!-- <div class="container">
      <%= simple_form_for @spot do  |f| %>
        <div class="title-fieldset">
          <strong>
          City
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group ">
              <span class="glyphicon glyphicon-map-marker"></span><input type="text" class="form-control" placeholder="City" name="city">
            </div>
          </div>
        </div>

        <div class="row title-fieldset">
          <strong>
          Style
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :style, collection: ["Maison", "Appartement", "Terrain", "Studio"], label: false %>

        <div class="row title-fieldset">
          <strong>
          Area
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group ">
              <span class="glyphicon glyphicon-fullscreen"></span><input type="text" class="form-control" placeholder="Area" name="area">
            </div>
          </div>
        </div>

        <div class="row title-fieldset">
          <strong>
          Conveniences
          </strong>
        </div>
        <%=f.input :modular_furniture, as: :boolean %>
        <%=f.input :exceptional_view, as: :boolean %>

        <div class="row title-fieldset">
          <button type="submit" class="btn btn-danger">Continuer</button>
        </div>
      <% end %>
    </div>
  </div>
</div> -->
