<!-- displayong the lightbox and the bagroung image -->

<div class="banner text-center" style="background-image: url(<%= image_path 'loft1.png' %>)">
  <div class="banner-content">
    <a href= <%= image_path 'loft2.png' %> data-lightbox="roadtrip">
      <p>View more</p>
    </a>
    <a href=<%= image_path 'loft3.png' %> data-lightbox="roadtrip"></a>
    <a href=<%= image_path 'loft1.png' %> data-lightbox="roadtrip"></a>
  </div>
</div>


<div class="container">

<!-- displaying the title -->
 <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12"><h2><%= @spot.title %></h2> </div>
       <!--  <%= link_to "Do you want to book ?", new_spot_booking_path(@spot), class: "btn" %> -->
      </div>

    <!-- displaying the address -->
      <div class="row">
        <div class="col-xs-12">
          <address>
            <strong><%= @spot.city %></strong>, <%= @spot.address %>, <%= @spot.post_code %><br>
          </address>
        </div>
      </div>

    <!-- displaying all the features of the spot -->
      <div class="row">
        <div class="col-xs-12 col-md-3"><%= image_tag "style.png" %> : </strong> <strong><%= @spot.style %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "squaremeter.png" %> : <strong><%= @spot.area %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "exposition.png" %> : <strong><%= @spot.exposition %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "furniture.png" %> : <strong><%= "modular" if @spot.modular_furniture %></strong></div>
      </div>

    <!-- displaying the description -->
      <div class="row padded" >
        <div class="col-xs-12"><p> <strong>En savoir plus sur le bien : </strong><%= @spot.description %></p></div>
        <div class="col-xs-12"><p><%= @spot.price %> € / demi-journée</p></div>
        <div class="col-xs-12">Exceptional view : <strong><%= @spot.exceptional_view %></strong></div>
      </div>

    </div>

    <!-- displaying the bookings -->
    <div class="col-xs-12 col-md-4 bg-blue card-big">
      <p class="card-margin"><strong >Please, choose your booking dates</strong> </p>
        <% @booking = Booking.new() %>
         <%= render '/bookings/new' %>
    </div>

  </div>
</div>






