<!-- displayong the lightbox and the background image -->

<!-- <div class="banner text-center" style="background-image: url(<%= image_path @spot.photos.first.picture.url(:large) %>);">>
  <div class="banner-content">

    <a href= <%= image_path 'loft2.png' %> data-lightbox="roadtrip">
      <p>View more</p>
    </a>
    <a href=<%= image_path 'loft3.png' %> data-lightbox="roadtrip"></a>
    <a href=<%= image_path 'loft1.png' %> data-lightbox="roadtrip"></a>
  </div>
</div> -->


<div class="banner">
  <span class="banner-bg" style="background-image: url(<%= image_path @spot.photos.first.picture.url(:large) %>); backgroun-position: center center;"></span>
  <span class="banner-gradient"></span>
  <a href=<%= image_path @spot.photos.first.picture.url(:large) %> class='banner-link' data-lightbox="roadtrip"></a>

  <% @spot.photos.each do |photo| %>
    <% if photo.id != @spot.photos.first.id && photo.picture_file_name %>
      <a href=<%= image_path photo.picture.url(:large) %> data-lightbox="roadtrip"></a>
    <% end %>
  <% end %>

</div>



<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-8">


    <!-- displaying the title -->
      <div class="row">
        <div class="col-xs-12"><h2><%= @spot.title %></h2> </div>
      </div>

    <!-- displaying the address -->
      <div class="row">
        <div class="col-xs-12">
          <address>
            <strong><%= @spot.city %></strong>, <%= @spot.address %>, <%= @spot.post_code %><br>
          </address>
        </div>
      </div>

    <!-- displaying all the features of the spot -->
      <div class="row">
        <div class="col-xs-12 col-md-3"><%= image_tag "style.png" %> : <strong><%= @spot.style %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "squaremeter.png" %> : <strong><%= @spot.area %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "exposition.png" %> : <strong><%= @spot.exposition %></strong></div>
        <div class="col-xs-12 col-md-3"><%= image_tag "furniture.png" %> : <strong><%= "modular" if @spot.modular_furniture %></strong></div>
      </div>

    <!-- displaying the description -->
      <div class="row padded" >
        <div class="col-xs-12"><p> <strong>En savoir plus sur le bien : </strong><%= @spot.description %></p></div>
        <div class="col-xs-12"><p><%= @spot.price %> € / demi-journée</p></div>
        <div class="col-xs-12">Exceptional view : <strong><%= @spot.exceptional_view %></strong></div>
      </div>

    </div>

    <!-- displaying the "ask for bookings - it does not create a booking yet but redirect to the New booking with the good params" -->
    <div class="col-xs-12 col-md-4 background-grey card-big">

      <p class="card-margin"><strong >Please, choose your booking dates</strong> </p>

      <%= form_tag( new_spot_booking_path(@spot), method: 'get') do %>
        <div class="form-group form-inline">
          <p><%= label_tag :start_time, "Start time:" %></p>
          <%= text_field_tag :start_time, Time.now.strftime("%m/%d/%Y"), type: "text", class: 'form-control datepicker' %>
        </div>
        <div class="form-group form-inline">
          <p><%= label_tag :end_time, "End time:" %><p>
          <%= text_field_tag :end_time, Time.now.strftime("%m/%d/%Y"), type: "text", class: 'form-control datepicker' %>
        </div>
        <div class="form-group form-inline">
          <%= hidden_field_tag :total_price, nil, class: 'form-control' %>
        </div>
        <div class="text-right">
          <%= submit_tag "Continue", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <p id="tt_price" class="card-margin  "> Please modify the dates to calculate the price</p>

  <!-- displaying the javascript -->
      <% content_for(:after_js) do %>
      <!-- compulsory to use datepicker -->
        <script type="text/javascript">
          $(document).ready(function(){
            $('.datepicker').datepicker({
              startDate: 'd'
            });
          });
        </script>
      <% end %>
      <!-- used to set the price automatically -->
      <% content_for(:after_js) do %>
        <% javascript_tag do %>
          $('.form-group').on('change', function() {

         <!--  getting all the variables from the form -->
            var start_date = new Date( $('#start_time').val());
            var end_date = new Date($('#end_time').val());

        <!--  calculating the total price for the booking-->
            var total_price = Math.round(
              <%= @spot.price %> * (end_date-start_date + 1) / (1000*60*60*24));

        <!--  Setting the total price for the booking-->
            $("#total_price").val(total_price);

        <!--  Displaying to the view the total price for the booking-->
            $("#tt_price").text('your price would be of ' + total_price + ' €');

          })
        <% end %>
      <% end %>

    </div>

  </div>
</div>






