
      <%= simple_form_for([ @spot, @booking ]) do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.input :total_price %>
        <%= f.submit %>
      <% end %>

      <div id = "maj"> Mise à jour </div>



<!--         Your booking has been created, the total price is :
        <%= @booking.total_price %>
      </div>
    </div>
 -->


