<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= simple_form_for([ @spot, @booking ]) do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        Your booking has been created, the total price is :
        <%= @booking.total_price %>
      </div>
    </div>

</div>
