
<div>
  <p>Thank you for trying to book throught Spot it, we love you.</p>
  <p>You ask for this booking</p>
</div>

<div class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="margin-form">
            <p>the spot you want to book : </p>
            <ul>
              <li> <%= @spot.title %> </li>
              <li> <%= @spot.description %> </li>
              <li> <%= @spot.street %> </li>
              <li> <%= @spot.post_code %> </li>
              <li> <%= @spot.city %> </li>
              <li> <%= @spot.area %> </li>
              <li> <%= @spot.style %> </li>
            </ul>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="margin-form">
          <%= simple_form_for([ @spot, @booking ]) do |f| %>
            <%= f.input :start_time, as: :string, input_html: {class: "datepicker", value: @params["start_time"]}%>
            <%= f.input :end_time, as: :string, input_html: {class: "datepicker", value: @params["end_time"] } %>
            <%= f.input :total_price, input_html: { value: @params["total_price"] } %>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

      <% content_for(:after_js) do %>

      <script type="text/javascript">
        $(document).ready(function(){
        $('.datepicker').datepicker();
        });
      </script>

        <% javascript_tag do %>
          $('.form-group').on('change', function() {

         <!--  getting all the variables from the form -->
            var start_date = new Date( $('#start_time').val());
            var end_date = new Date($('#end_time').val());

        <!--  calculating the total price for the booking-->
          var total_price = Math.round(
          <%= @spot.price %> * (end_date-start_date + 1) / (1000*60*60*24));

        <!--  Setting the total price for the booking-->
          $("#total_price").val(total_price);

        <!--  Displaying to the view the total price for the booking-->
          $("#tt_price").text('your price would be of ' + total_price + ' €');
          })
        <% end %>
      <% end %>

<!-- Creating the form for the bookings  -->





