<!--  PREVIOUS PAUL-EMMANUEL'S FORMULAIRE

<div class="background">
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-10 col-xs-offset-2">


            <%= simple_form_for (@spot), :html => { :class => 'form-inline' } do |f| %>
              <%= f.error_notification %>

              <%= f.input_field :city, :placeholder => "City", class: 'form-control' %>
              <%= f.input_field :style, :placeholder => "Style", class: 'form-control' %>
              <%= f.input_field :area, :placeholder => "Area", class: 'form-control' %>

              <%= f.submit "Find a spot" %>



            <% end %>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="background">
  <div class="form">
    <div class="container">
      <div class="row">
        <div class=" col-xs-8 col-sm-10 col-xs-offset-2">
          <div class="form-group">
              <%= form_tag('/spots', method: 'get', :class => "form-inline") do %>

                 <%= text_field_tag :city, nil, placeholder: "City", class: 'form-control' %>
                 <%= text_field_tag :style, nil, placeholder: "Style", class: 'form-control' %>
                 <%= text_field_tag :area, nil, placeholder: "Area", class: 'form-control' %>

                 <%= submit_tag "Search", class: 'btn btn-primary' %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <% 3.times do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
             <span class="card-bg" style="background-image: url(<%= image_path 'http://kevinfluchaire.com/wp-content/uploads/2012/06/MakingOF_CLIPKevin_175.jpg' %>)"></span>
             <span class="card-gradient"></span>
             <span class="card-price">
               <%= @allspot.first.price.to_i.to_s + ' €/day' %>
             </span>
             <%= link_to "", spot_path(@allspot.first),class: 'card-link' %>
             <div class="card-text">
              <%= @allspot.first.title %>
             </div>
           </div>
          </div>
        <% end %>
      </div>


      </div>
    </div>
  </div>
</div>


